<style>
    body {
        margin-top: 50px;
    }

</style>
<div id="jumbo4" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">All Items</h1>
  </div>
</div>



<%= render 'product_loop' %>